@import 'base/variables';


* {
    font-family: 'Gotham Pro', sans-serif;
    // font-family: 'Gotham Pro Bold' , sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background: $body-color;
}

.container {
    padding: 0 24px;
    margin: 0 auto;
}


@import 'blocks/header';
@import 'blocks/start';
@import 'blocks/choose';
@import 'blocks/step';
@import 'blocks/about';
@import 'blocks/faq';
@import 'blocks/more';
@import 'blocks/footer';