.about {
    padding: 0 0 120px 0;
    &__title {
        font-weight: 700;
        font-size: 25px;
        text-align: center;
        color: #171717;
        margin-bottom: 28px;
    }
    &__wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 16px;
    }
    &__picture {
        width: 327px;
        min-height: 412px;
        background: url('../../img/about.png') center center/400px no-repeat, #FFFFFF;
        box-shadow: 0px 7px 16px rgba(244, 245, 245, 0.2);
        border-radius: 24px;
        
    }
    &__us {
        width: 327px;
        min-height: 412px;
        background: #FFFFFF;
        box-shadow: 0px 2px 14px rgba(213, 216, 221, 0.2);
        border-radius: 24px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        &_link {
            width: 60px;
            height: 60px;
            margin-bottom: 20px;
            img {
                max-width: 100%;
            }
        }
        &_descr {
            font-weight: 400;
            font-size: 17px;
            line-height: 150%;
            color: #333333;
            margin-bottom: 16px;
        }
        &_subtitle {
            font-weight: 700;
            font-size: 17px;
            line-height: 150%;
            color: #171717;
        }
    }
}